<div id="text-area-containers">
  <mat-form-field [style.fontSize]="fontSize.value">
    <mat-label>Autosize textarea</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <mat-form-field [style.fontSize]="fontSize.value">
    <mat-label>textarea</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
</div>
<td-ngx-text-diff
  [left]="left"
  [right]="right"
  (compareResults)="onCompareResults($event)"
></td-ngx-text-diff>
