<div style="display: flex; justify-content: center">
  <div id="compare-input-container">

    <form [formGroup]="formGroup" id="text-area-containers">
      <div class="text-area-container">
        <mat-label><h4 mat-display-4> Compare This</h4></mat-label>
        <textarea class="text-area"
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="15"
                  cdkAutosizeMaxRows="20"
                  cols="50" formControlName="before">
    </textarea>
      </div>

      <div class="text-area-container">
        <mat-label><h4 mat-display-4> To That</h4></mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="15"
                  cdkAutosizeMaxRows="20"
                  cols="50" formControlName="after">
    </textarea>
      </div>
    </form>
    <mat-divider style="margin: 15px;"></mat-divider>
    <div class="button-container">
      <button mat-raised-button type="submit" color="accent" (click)="submitComparison()" class="btn btn-primary">
        Compare
      </button>

    </div>
    <td-ngx-text-diff
      [left]="this.content.leftContent"
      [right]="this.content.rightContent"
      (compareResults)="onCompareResults($event)"
      [diffContent]="contentObservable$">
    </td-ngx-text-diff>
  </div>
</div>



